html,
body {
    margin: 0;
    padding: 0;
}



#fullPage-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
}

#fullPage-nav.right {
    right: 17px;
}

#fullPage-nav.left {
    left: 17px;
}

.fullPage-slidesNav {
    position: absolute;
    z-index: 4;
    left: 50%;
    opacity: 1;
}

.fullPage-slidesNav.bottom {
    bottom: 17px;
}

.fullPage-slidesNav.top {
    top: 17px;
}

#fullPage-nav ul,
.fullPage-slidesNav ul {
    margin: 0;
    padding: 0;
}

#fullPage-nav li,
.fullPage-slidesNav li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position: relative;
}

.fullPage-slidesNav li {
    display: inline-block;
}

#fullPage-nav li a,
.fullPage-slidesNav li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}

#fullPage-nav li .active span,
.fullPage-slidesNav .active span {
    background: #333;
}

#fullPage-nav span,
.fullPage-slidesNav span {
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.fullPage-tooltip {
    position: absolute;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    top: -2px;
}

.fullPage-tooltip.right {
    right: 20px;
}

.fullPage-tooltip.left {
    left: 20px;
}

#menu {
    position: fixed;
    right: 20px;
    top: 40%;
    z-index: 10;
    list-style-type: none;
}

#menu li {
    width: 90px;
    height: 27px;
    margin-top: 7px;
    overflow: hidden;
}

#menu a {
    display: block;
    height: 27px;
    padding-right: 30px;
    line-height: 27px;
    background: url(../images/dot.png) right -34px no-repeat;
    color: #fff;
    text-align: right;
    text-shadow: 1px 1px 0px #333;
    text-decoration: none;
    overflow: hidden;
}

#menu span {
    display: block;
    width: 60px;
    height: 27px;
    font-size: 12px;
    text-indent: 200px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    overflow: hidden;
}

#menu a:hover span {
    text-indent: 0;
}

#menu .active a {
    background-position: right 0;
}

.section{
    background:url(images/logo.jpeg) 50%;
}